.table--showColors tr:nth-child(odd) {
  --background-body: transparent;
  background: #333;
}

.table--showColors tr:nth-child(even) {
  --background-body: transparent;
  background: #555;
}

header {
  display: flex;
  gap: 4px;
  margin-bottom: 48px;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
